.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  align-items: center;
  cursor: pointer;
}

.login-button div {
  margin-left: 5px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-search {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}

.menu-search input {
  height: 30px;
  border: none;
  border-bottom: 1px solid gray;
  padding-left: 30px;
}

.menu-search .menu-search__icon {
  position: absolute;
  right: 185px;
}

.card:hover {
  cursor: pointer;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
